{% extends "main.twig" %}
{% block head %}
	<title>gestion cani</title>
{% endblock %}
{% block header %}
	{{parent()}}
	<h1>Gestione Cani</h1>
{% endblock %}
{% block main %}
	{% include "form.tabella.cani.twig" %}
{% endblock %}
