{% extends "main.twig" %}
{% block head %}
	<title>gestione padroni</title>
{% endblock %}
{% block header %}
	{{parent()}}
	<h1>Gestione Padroni</h1>
{% endblock %}
{% block main %}
	{% include "form.tabella.padroni.twig" %}
{% endblock %}
