{% import "nav.twig" as nav %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		{% block head %}
			<title>Esercizio per casa</title>
		{% endblock %}
		<link rel="stylesheet" href="s.css">
	</head>
	<body>
		<header>
			{% block header %}{% endblock %}
			<hr>
				<nav>{{nav.nav(menu)}}</nav>
                {# alias_template.nome_macro(parametro) #}
			</header>
			<main>
				{% block content %}{% endblock %}
			</main>
		</body>
	</html>
