* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  font-family: "Montserrat", sans-serif;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sono:wght@200..800&display=swap");

.i{
    margin: 15px;
    border-radius: 20px;
}

#bgv{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
    pointer-events: none;
    display: block;
}

.fg{
    position: relative;
    z-index: 1;
    color: #fff;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    margin: 20px;
    text-shadow: 1px 1px 2px black;
}