{% from "menu.twig" import menu %}
<!DOCTYPE html>
<html lang="it">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}{% endblock %}
		</title>
		<link rel="stylesheet" href="s.css">
		<script src="s.js" defer></script>
	</head>
	<body>
		<header>
			<nav>{{menu(menu)}}</nav>
		</header>
		<main>
			{% block content %}{% endblock %}
		</main>
		<footer>{{messaggio|raw}}</footer>
	</body>
</html>
