<ul>
	{% for x in padroni %}
		<li id="default">{{x.nome}} - {{x.telefono}}
		<input type="button" data-id="{{x.id}}" class="btnElimina" value="Elimina">
		<input type="button" data-id="{{x.id}}" class="btnModifica" value="Modifica">
		</li>
	{# in Js data-id è un attributo personalizzato con lo scopo di memorizzare un dato
					in un elemento HTML, nel mio caso l'id del padrone
					con e.target.dataset.id prendo poi quel valore #}
	{% endfor %}
</ul>
