{% set tipo = 'piatto' %}
<form action="/?x=lista.piatti" method="post">
<input type="hidden" name="azione" value="{{azione}}">
<input type="hidden" name="piatto[idp]" value="{{idp}}">
	<label>Nome del piatto</label>
	<input type="text" name="piatto[nome]" maxlength="20">
    <button type="submit">Aggiungi Piatto</button>
</form>
