{% set tipo = 'ingrediente' %}
<form action="/aggiungi-ingrediente" method="post">
	<label>Nome dell'ingrediente</label>
	<input type="text" name="nome" maxlength="20">
    <button type="submit">Aggiungi Ingrediente</button>
</form>
