{% set tipo = 'ingrediente' %}
<form action="/?x=lista.ingredienti" method="post">
<input type="hidden" name="azione" value="{{azione}}">
<input type="hidden" name="ingrediente[idi]" value="{{idi}}">
	<label>Nome dell'ingrediente</label>
	<input type="text" name="ingrediente[nome]" maxlength="20">
    <button type="submit">Aggiungi Ingrediente</button>
</form>
