{% set tipo = 'piatto' %}
<table border="1" cellpadding="5" cellspacing="0">
	<thead>
		<tr>
			<th>Id</th>
			<th>Nome</th>
			<th>Modifica</th>
			<th>Elimina</th>
		</tr>
	</thead>
	<tbody>
		{% if piatti is empty %}
			<tr>
				<td colspan="4">Nessun piatto</td>
			</tr>
		{% else %}
			{% for x in piatti %}
				<tr>
					<td>{{x.idp}}</td>
					<td>{{x.nome}}</td>
					<td><a href="/?x=piatto&azione=modifica&idp={{x.idp}}">Modifica</a></td>
					<td><a href="/?x=piatto&azione=elimina&idp={{x.idp}}">Elimina</a></td>
				</tr>
			{% endfor %}
		{% endif %}
	</tbody>
</table>
