{% set tipo = 'ingrediente' %}
<table border="1" cellpadding="5" cellspacing="0">
	<thead>
		<tr>
			<th>Id</th>
			<th>Nome</th>
			<th>Modifica</th>
			<th>Elimina</th>
		</tr>
	</thead>
	<tbody>
		{% if ingredienti is empty %}
			<tr>
				<td colspan="4">Nessun ingrediente</td>
			</tr>
		{% else %}
			{% for x in ingredienti %}
				<tr>
					<td>{{x.idi}}</td>
					<td>{{x.nome}}</td>
					<td><a href="/?x=ingrediente&azione=modifica&idi={{x.idi}}">Modifica</a></td>
					<td><a href="/?x=ingrediente&azione=elimina&idi={{x.idi}}">Elimina</a></td>
				</tr>
			{% endfor %}
		{% endif %}
	</tbody>
</table>
