@import url("https://fonts.googleapis.com/css2?family=Barrio&display=swap");

* {
  box-sizing: border-box;
}

body,
main, footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  font-family: "Barrio", system-ui;
  font-weight: 900;
  font-style: normal;
}

h1 {
  font-size: 100px;
}

a {
  text-decoration: none;
  font-size: 30px;
  color: #000;
}

a:hover {
  color: #fff;
  -webkit-text-stroke: 1px #000;
  background-color: #99999970;
  border-radius: 20px;
  padding: 10px;
}

ul {
  list-style-type: none;
}

li {
  display: inline-block;
  margin: 20px 50px;
}

#default{
 display: list-item; 
}

form{
  margin: 50px;
}

footer{
  margin: 50px 0px 0px 0px;
  background-color: burlywood;
  height: 100px;
  width: 100vw;
}