<!DOCTYPE html>
<html lang="it">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{title}}</title>
		<link rel="stylesheet" href="s.css">
		<svg style="display: none;">
			<filter id="blur">
				<feGaussianBlur
				in="SourceGraphic" stddeviation="7,0"/>
				<!-- Per invertire la direzione aggiungo una traslazione negativa -->
				<feOffset dx="-10" dy="0"/>
			</filter>
		</svg>
	</head>
	<body>
		<header>
			<nav>
				{% import "menu.twig" as m %}
				{{m.menu(menu)}}
			</nav>
		</header>
		<main>
			{% block title %}
				<h1>Benvenuto su Rivistas</h1>
				<em id="T">{{name}}</em>
			{% endblock %}
			<section>
				{% block articles %}{% endblock %}
			</section>
		</main>
		<footer></footer>
	</body>
</html>
